<section>
  <div class="reading">
    <h2>Temperature Reading</h2>
  </div>
  <div class="reading">
    <%= make_red_plot(@test_data) %>
  </div>
  <%= for t <- @temp_data do %>
    <div class="reading">
      <div class="temp-data">
        <p><span>Timestamp: <%=t.timestamp %></span> <span>Temp: <%= t.temp %> &#8451;</span></p>
      </div>
    </div>
  <% end %>



</section>
