<section>
  <%= for data <- @temp_data do %>
    <div class="reading">
      <div class="temp-data">
        <h2>Temperature</h2>
        <p><%= data.temp %> &#8451;</p>
        <p><%= data.timestamp %></p>
      </div>
    </div>
  <%end %>
</section>
